/*
Project: SSBRenderer-DShow
File: file_info.rc

Copyright (c) 2013, Christoph "Youka" Spanknebel

This software is provided 'as-is', without any express or implied warranty. In no event will the authors be held liable for any damages arising from the use of this software.

Permission is granted to anyone to use this software for any purpose, including commercial applications, and to alter it and redistribute it freely, subject to the following restrictions:

    The origin of this software must not be misrepresented; you must not claim that you wrote the original software. If you use this software in a product, an acknowledgment in the	product documentation would be appreciated but is not required.
    Altered source versions must be plainly marked as such, and must not be misrepresented as being the original software.
    This notice may not be removed or altered from any source distribution.
*/

#include <winresrc.h>
#include "file_info.h"

// File information
VS_VERSION_INFO VERSIONINFO
FILEVERSION FILTER_VERSION
PRODUCTVERSION FILTER_VERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	VS_FF_PRERELEASE
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", FILTER_DESC
            VALUE "CompanyName", FILTER_AUTHOR
            VALUE "FileVersion", FILTER_VERSION_STRING
            VALUE "InternalName", FILTER_NAME
            VALUE "LegalCopyright", FILTER_COPYRIGHT
            VALUE "OriginalFilename", FILTER_FILE_NAME
            VALUE "ProductName", FILTER_NAME
            VALUE "ProductVersion", FILTER_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", FILTER_LANGUAGE
    END
END

// SSB Logo
FILTER_LOGO ICON "src/res/logo.ico"